
<div class="main">

<app-itgroupmember-add-form></app-itgroupmember-add-form>

<h1>ITGroupMembers</h1>
   <thead>
        <tr>
            <td style="width: 30%;">ITGroups</td>
            <td style="width: 30%;">Employees</td>
            <td style="width: 20%;">Action</td>
        </tr>
    </thead>
    <tbody  *ngIf="itgroupmembers != null || itgroupmembers?.length != 0">
        <tr *ngFor="let itgroupmember of itgroupmembers">
            
            <td style="width: 30%;"><div *ngIf="itgroupmember.itGroup">{{itgroupmember.itGroup.itGroupName}}</div></td>
            <td style="width: 20%;"><div *ngFor="let employee of itgroupmember.employees">{{employee.fullName}}</div></td>
            <td >
                <div class="row">
                    <button class="col-md-3 btn btn-success m-1" (click)="update(itgroupmember)" data-toggle="tooltip" data-placement="bottom" title="Update itgroupmember" >
                        <i class="material-icons">update</i>
                    </button>
                    <button class="col-md-3 btn btn-danger m-1" (click)="delete(itgroupmember.itGroupMemberid)" data-toggle="tooltip" data-placement="bottom" title="Delete itgroupmember">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>

</div>