
        <div class="form-group has-success">
            <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="severityCreateForm">
                <div class="row f1">
                    <div class="col-md-3">
                        <label for="SeverityCode">Code: <span style="color: #ff0000">*</span></label><br />
                        <input type="text" class="form-control" id="severityCode" formControlName="severityCode" placeholder="Code" [ngClass]="{'is-invalid': (f.severityCode.touched && f.severityCode.errors) || severityCodeBackEndErrors}"><br>
                        <div *ngIf="f.severityCode.touched && f.severityCode.errors"  class="invalid-feedback">  
                            <div *ngIf="f.severityCode.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of severityCodeBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="SeverityName">Name: <span style="color: #ff0000">*</span></label><br />
                        <input type="text" class="form-control" id="severityName" formControlName="severityName" placeholder="Name" [ngClass]="{'is-invalid': (f.severityName.touched && f.severityName.errors) || severityNameBackEndErrors}"><br>
                       <div *ngIf="f.severityName.touched && f.severityName.errors"  class="invalid-feedback">  
                            <div *ngIf="f.severityName.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of severityNameBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                            <br>
                            <button type="submit" [disabled]="!severityCreateForm.valid || isSubmit" class="btn btn-primary m-1">Save</button>
                        </div>
                    <div class="col-md-12">
                            <label for="SeverityDesc">Description: </label><br />
                            <textarea class="form-control form-control-sm" id="exampleTextarea" rows="3" placeholder="" formControlName="severityDesc"></textarea>
                        </div>
                </div>
            </form>
        </div>

