
<div class="panel">
    <div class="panel-heading">
        <h1 style="display: inline"> Update ITGroup</h1>
        <button class="btn btn-danger btn-sm float-right"(click)="close()"><i class="material-icons">close</i></button>
    </div>
    <div class="panel-body">
        <div class="form-group has-success">
            <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="itgroupUpdateform">
                <div class="row">
                    <div class="col-md-5">
                        <label for="ITGroupCode">Code: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control is-valid" id="itgroupCode" formControlName="itgroupCode" placeholder="Code" [ngClass]="{'is-invalid': (f.itgroupCode.touched && f.itgroupCode.errors) || itgroupcodeBackEndErrors}"><br>
                       <div *ngIf="f.itgroupCode.touched && f.itgroupCode.errors"  class="invalid-feedback">  
                            <div *ngIf="f.itgroupCode.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of itgroupcodeBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="ITGroupName">Name: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control is-valid" id="itgroupName" formControlName="itgroupName" placeholder="Name" [ngClass]="{'is-invalid': (f.itgroupName.touched && f.itgroupName.errors) || itgroupnameBackEndErrors}"><br>
                       <div *ngIf="f.itgroupName.touched && f.itgroupName.errors"  class="invalid-feedback">  
                            <div *ngIf="f.itgroupName.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of itgroupnameBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <button type="submit" [disabled]="!itgroupUpdateform.valid || isSubmit" class="btn btn-success">Update

                        </button>
                        <br>
                        <button type="button" (click) = "close()" class="btn btn-danger">Close
                            
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



