
<div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Update IT Group</h4>
        </div>
        <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="itgroupUpdateform">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <label for="ITGroupCode">Code: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control is-valid" id="itgroupCode" formControlName="itgroupCode" placeholder="Code" [ngClass]="{'is-invalid': (f.itgroupCode.touched && f.itgroupCode.errors) || itgroupcodeBackEndErrors}"><br>
                       <div *ngIf="f.itgroupCode.touched && f.itgroupCode.errors"  class="invalid-feedback">  
                            <div *ngIf="f.itgroupCode.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of itgroupcodeBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="ITGroupName">Name: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control is-valid" id="itgroupName" formControlName="itgroupName" placeholder="Name" [ngClass]="{'is-invalid': (f.itgroupName.touched && f.itgroupName.errors) || itgroupnameBackEndErrors}"><br>
                       <div *ngIf="f.itgroupName.touched && f.itgroupName.errors"  class="invalid-feedback">  
                            <div *ngIf="f.itgroupName.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of itgroupnameBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" [disabled]="!itgroupUpdateform.valid || isSubmit" class="btn btn-primary pull-right" style="margin-top: 5px;">Save</button>
                <button type="button" (click)="close()" class="btn btn-default" style="margin-top: 5px;">Close</button>
            </div>
        </form>
</div>



