           <form (ngSubmit)="onFormSubmit()" method="POST" [formGroup]="officeCreateForm">
                <div class="box-body margin">
                  <div class="row">
                        <label for="OfficeCode">Code: <span style="color: #ff0000">*</span></label><br />
                        <input type="text" class="form-control" id="officecode" formControlName="officecode" placeholder="Code" [ngClass]="{'is-invalid': (f.officecode.touched && f.officecode.errors) || officecodeBackEndErrors}"><br>
                       <div *ngIf="f.officecode.touched && f.officecode.errors"  class="invalid-feedback">  
                            <div *ngIf="f.officecode.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of officecodeBackEndErrors">{{error}}</span>
                        </div>
                  </div>
                  <div class="row">
                        <label for="OfficeDesc">Description: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control" id="officedesc" formControlName="officedesc" placeholder="Description" [ngClass]="{'is-invalid': (f.officedesc.touched && f.officedesc.errors) || officedescBackEndErrors}"><br>
                       <div *ngIf="f.officedesc.touched && f.officedesc.errors"  class="invalid-feedback">  
                            <div *ngIf="f.officedesc.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of officedescBackEndErrors">{{error}}</span>
                        </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="submit" [disabled]="!officeCreateForm.valid || isSubmit" class="btn btn-primary m-1">Save</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reset()">Cancel</button>
                </div>
          </form>
    

