<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
       <!-- TABLE: LATEST ORDERS -->
       <div class="box box-info">
         <div class="box-header with-border">
           <h3 class="box-title">Ticket History</h3> 
         </div>
   <!-- /.box-header -->
           <div class="box-body">
                 <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped">
                     <thead>
                       <tr>
                         <th style="width: 15%"><strong>TicketNo.</strong></th>
                         <th style="width: 5%"><strong>Office</strong></th>
                         <th style="width: 10%"><strong>Request Category</strong></th>
                         <th style="width: 10%"><strong>RequestedBy</strong></th>
                         <th style="width: 10%"><strong>TaskedTo</strong></th>
                         <th style="width: 17%"><strong>Date of Request</strong></th>
                         <th style="width: 5%"><strong>Status</strong></th>
                         <th style="width: 17%"><strong>Date Accomplished</strong></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let ticketMinor of ticketMinorList; let i = index">
                         <th style="font-weight: lighter; width: 15%"><a (click)="viewDetails(ticketMinor)" data-toggle="tooltip" data-placement="bottom">{{ticketMinor.ticketMinorid}}</a></th>
                         <th style="font-weight: lighter; width: 5%">{{ticketMinor.office.officeCode}}</th>
                         <th style="font-weight: lighter; width: 10%">{{ticketMinor.categoryList.categoryListName}}</th>
                         <!-- <th style="font-weight: lighter; width: 15%"><span *ngFor="let requester of requesterList">{{requester.fullName}}</span></th>
                         <th style="font-weight: lighter; width: 15%"><span *ngFor="let worker of workerList">{{worker.fullName}}</span></th> -->
                         <th style="font-weight: lighter; width: 15%"><span *ngFor="let employee of employeeList">{{employee.employeeID === ticketMinor.requesterid ? employee.fullName : ''}}</span></th>
                         <th style="font-weight: lighter; width: 15%"><span *ngFor="let employee of employeeList">{{employee.employeeID === ticketMinor.workByid ? employee.fullName : ''}}</span></th>
                         <th style="font-weight: lighter; width: 17%">{{ticketMinor.dateOfRequest | date:'MM/dd/yyyy'}} {{ticketMinor.timeOfRequest | date:'h:mm a'}}</th>
                         <th style="font-weight: lighter; width: 5%">{{ticketMinor.status}}</th>
                         <td style="font-weight: lighter; width: 17%;">{{ticketMinor.dateAccomplished | date:'MM/dd/yyyy h:mm a'}}</td>
                         <td><a (click)="delete(ticketMinor.ticketMinorid)"><span class="glyphicon glyphicon-trash"></span></a></td>
                       </tr>
                     </tbody>
                 </table>
           </div>
       </div>
    </section>
    
 </div>
 