/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

=======
<<<<<<< HEAD
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
@import"~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import'~material-design-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> d03904ae63c76b400a8493dbaf62e20d91bc2e2f

.error-msg {
    color:  red;
    font-size: 10pt;
    margin: 0;
}

.rounded-btn {
    color:red;
    font-size: 10pt;
}
<<<<<<< HEAD

.font
{
    font-size: 12px;
    font-style: inherit;
}

.mm {
    margin-left:10px;
    margin-top:10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.error-msg {
    color:  red;
    font-size: 10pt;
    margin: 0;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
>>>>>>> 6d2d6532e882551e73784511ee1ca6b02e942cb4
>>>>>>> d03904ae63c76b400a8493dbaf62e20d91bc2e2f
