<div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Update Category List</h4>
        </div>
        <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="categoryUpdateform">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="CategoryName">Name: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control" id="categoryName" formControlName="categoryName" placeholder="Name" [ngClass]="{'is-invalid': (f.categoryName.touched && f.categoryName.errors) || categoryNameBackEndErrors}"><br>
                       <div *ngIf="f.categoryName.touched && f.categoryName.errors"  class="invalid-feedback">  
                            <div *ngIf="f.categoryName.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of categoryNameBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="close()" class="btn btn-default" >Close</button>
                <button type="submit" [disabled]="!categoryUpdateform.valid || isSubmit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
</div>
