
          <div class="row" style="margin-left: 10px" id="ticketMinor">
                <table class="table table-hover">
                    <thead>
                      <tr class="tbl-hr">
                        <th style="width: 20%"><strong>TicketNo.</strong></th>
                        <th style="width: 10%"><strong>Office</strong></th>
                        <th style="width: 20%"><strong>Request Category</strong></th>
                        <th style="width: 15%"><strong>RequestedBy</strong></th>
                        <th style="width: 15%"><strong>TaskedTo</strong></th>
                        <th style="width: 10%"><strong>SLA</strong></th>
                        <th style="width: 10%"><strong>Status</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ticketMinor of ticketMinorList">
                        <th style="font-weight: lighter; width: 20%"><a [routerLink]='["/ticketMinorEdit"]'>{{ticketMinor.ticketMinorid}}</a></th>
                        <th style="font-weight: lighter; width: 10%">{{ticketMinor.office.officeCode}}</th>
                        <th style="font-weight: lighter; width: 20%">{{ticketMinor.categoryList.categoryListName}}</th>
                        <th style="font-weight: lighter; width: 15%">{{ticketMinor.employee.fullName}}</th>
                        <th style="font-weight: lighter; width: 15%">{{ticketMinor.employee.fullName}}</th>
                        <th style="font-weight: lighter; width: 10%">{{ticketMinor.dateOfRequest}}</th>
                        <th style="font-weight: lighter; width: 10%"><span class="label label-success">{{ticketMinor.status}}</span></th>
                      </tr>
                    </tbody>
                </table> 
                
            </div>