<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Dashboard
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="ion ion-ios-paper-outline"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Minor <br>Request</span>
                <a href="#ticketMinor"><span class="info-box-number">10</span></a>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-gear-outline"></i></span>
    
                <div class="info-box-content">
                  <span class="info-box-text">Major <br>Request</span>
                  <a [routerLink]="[ '/ticketAdd']"><span class="info-box-number">6</span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        <div class="col-md-3">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><h1>2</h1></span>
    
                <div class="info-box-content"><br>
                  <span class="info-box-text" style="font-size: 16px">Emergency</span>
                  <small>REQUEST</small>
    
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                  </div>
                  <span class="progress-description">
                      </span>
                </div>
                <!-- /.info-box-content -->
              </div>
        </div>
        <div class="col-md-3">
        <div class="info-box bg-red">
            <span class="info-box-icon"><h1>4</h1></span>

            <div class="info-box-content"><br>
              <span class="info-box-text" style="font-size: 16px">Critical</span>
              <small>REQUEST</small>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
      </div>
    

<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Ongoing Tickets</h3>
      <div class="col-md-3 pull-right">
          <form>
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <app-ticket></app-ticket>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Tickets</a>
    </div>
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->
</section>
</div>