<div class="card border-secondary mb-3">
    <div class="card-header">Update Office
        <!-- <button class="btn btn-secondary btn-sm float-right"(click)="close()"><i class="material-icons">close</i></button> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><i class="material-icons">close</i></button>
    </div>
        <div class="card-body">
          <div class="form-group has-success">
            <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="officeUpdateform">
                <div class="row">
                    <div class="col-md-5">
                        <label for="OfficeCode">Code: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control" id="officeCode" formControlName="officeCode" placeholder="Code" [ngClass]="{'is-invalid': (f.officeCode.touched && f.officeCode.errors) || officecodeBackEndErrors}"><br>
                       <div *ngIf="f.officeCode.touched && f.officeCode.errors"  class="invalid-feedback">  
                            <div *ngIf="f.officeCode.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of officecodeBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <label for="OfficeDesc">Description: <span style="color: red">*</span></label><br />
                        <input type="text" class="form-control" id="officeDesc" formControlName="officeDesc" placeholder="Description" [ngClass]="{'is-invalid': (f.officeDesc.touched && f.officeDesc.errors) || officedescBackEndErrors}"><br>
                       <div *ngIf="f.officeDesc.touched && f.officeDesc.errors"  class="invalid-feedback">  
                            <div *ngIf="f.officeDesc.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span class="error-msg" *ngFor="let error of officedescBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                        <button type="submit" [disabled]="!officeUpdateform.valid || isSubmit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
