  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->
<!-- shows only when user is logged in -->
<div *ngIf="isLogin" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
  <ul class="navbar-nav flex-grow">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-laptop"></i> <span>Encode Ticket</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/ticketMinor']"><i class="fa fa-circle-o"></i> Minor Request</a></li>
            <li><a [routerLink]="['/ticketAdd']"><i class="fa fa-circle-o"></i> Major Request</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/']"><i class="fa fa-files-o"></i> <span>Ticket History</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-gears"></i> <span>Settings</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/employee']"><i class="fa fa-circle-o"></i> Employee List</a></li>
            <li><a [routerLink]="['/employeeEmployeeType']"><i class="fa fa-circle-o"></i> Employee EmployeeType</a></li>
            <li><a [routerLink]="['/employeetype']"><i class="fa fa-circle-o"></i> Employee Type List</a></li>
            <li><a [routerLink]="['/office']"><i class="fa fa-circle-o"></i> Office List</a></li>
            <li><a [routerLink]="['/categoryList']"><i class="fa fa-circle-o"></i> Category List</a></li>
            <li><a [routerLink]="['/severity']"><i class="fa fa-circle-o"></i> Severity List</a></li>
            <li><a [routerLink]="['/itgroup']"><i class="fa fa-circle-o"></i> IT Group List</a></li>
            <li><a [routerLink]="['/itgroupmember']"><i class="fa fa-circle-o"></i> IT Group Member</a></li>
            <li *ngIf="role === 'Admin'" class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" routerLink='/register'>Register</a>
            </li>
          </ul>
        </li>
      </ul>
      </ul>
      </div>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>