<div class="sidenav">
    <a [routerLink]="[ '/dashboard']">Dashboard</a>
    <button class="dropdown-btn dropdown-toggle setting" (click)="dropdownlist()">Encode Ticket  
        <i class="fa fa-caret-down"></i>
    </button>
      <div class="dropdown-container">
          <a [routerLink]="[ '/ticketMinor']">Minor Request</a>
          <a [routerLink]="[ '/ticketAdd']">Major Request</a>
      </div>
    <a href="#contact">Ticket History</a>
    <button class="dropdown-btn dropdown-toggle setting" (click)="dropdownlist()">Settings  
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
          <button class="dropdown-btn dropdown-toggle" (click)="dropdownlist()">Employee  
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a [routerLink]="['/employee']">Employee</a>
              <a [routerLink]="['']">Employee Type</a>
              <a [routerLink]="[ '/office']">Office</a>
            </div>
            <button class="dropdown-btn dropdown-toggle" (click)="dropdownlist()">Policy Table 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a [routerLink]="[ '/categoryList']">Category List</a>
                <a [routerLink]="[ '/severity']">Severity</a>
                <a [routerLink]="[ '/category']">Request Category</a>
              </div>
              <button class="dropdown-btn dropdown-toggle" (click)="dropdownlist()">IT Group 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a href="itgroup">IT Group</a>
                <a href="itgroupmember">IT Group Member</a>
                <a href="#">User Account</a>
              </div>
      </div>
  </div>