<div class="card border-secondary mb-3">
    <div class="card-header">Update Category
        <!-- <button class="btn btn-secondary btn-sm float-right"(click)="close()"><i class="material-icons">close</i></button> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><i class="material-icons">close</i></button>
    </div>
        <div class="card-body">
          <div class="form-group has-success">
                <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="categorylistUpdateForm">
                        <div class="row f1">
                            <div class="col-md-4 ">
                                <label class="col-form-label col-form-label-sm">Request Category:<span style="color: red">*</span></label>
                                <select class="form-control form-control-sm" formControlName="categoryName">
                                                <option selected="selected"></option>
                                                <option>Request Fulfillment</option>
                                                <option>Incident Ticketing</option>
                                </select>
                             </div>
                             <div class="col-sm-7">
                                        <label class="col-form-label col-form-label-sm font">Category List</label>
                                       <input class="form-control form-control-sm" type="text" formControlName="categorylistName" style="width: 100%">
                               </div>
                        </div>
                <div class="row f1">
                        <div class="col-md-2 ">
                          <label class="col-form-label col-form-label-sm font" for="inputSmall">Severity</label>
                          <input class="form-control form-control-sm" type="text"  formControlName="severityCode">
                        </div>
                        <div class="col-md-3">
                                <label class="col-form-label col-form-label-sm font" for="inputSmall">SLA Resolve Time</label>
                                <input class="form-control form-control-sm" type="text"  formControlName="SLAResponseTime">
                        </div>
                        <div class="col-md-3">
                                <label class="col-form-label col-form-label-sm font" for="inputSmall">SLA Resolve Time</label>
                                <input class="form-control form-control-sm" type="text" formControlName="SLAResolveTime">
                        </div>
                        <div class="col-md-3">
                                <label class="col-form-label col-form-label-sm font" for="inputSmall">Responsible Group</label>
                                <input class="form-control form-control-sm" type="text" formControlName="ItGroup" disabled>
                        </div>
                </div>    
                <div class="row f1">
                        <div class="col-md-3 " style="margin-left: 80%">
                        <button type="submit" [disabled]="!ticketCreateForm.valid || isSubmit" class="btn btn-primary m-1"><i class="material-icons m-1">save</i>
                        <label class="m-1">Save</label></button>
                        </div>
                </div>
       </form>
        </div>
    </div>
</div>
