
<br>
<div class="panel">
    <div class="panel-heading">
        <h1 style="display: inline">Update Severity</h1>
        <button class="btn btn-outline-danger float-right" (click)="close()"><i class="material-icons">close</i></button>
    </div>
    <div class="panel-body">
        <div class="jumbotron" style="background-color: transparent">
            <div class="form-group has-success">
                <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="severityEditForm">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="SeverityCode">Severity Code: <span style="color: red">*</span></label><br />
                            <input type="text" class="form-control is-valid" id="severityCode" formControlName="severityCode" placeholder="SeverityCode" [ngClass]="{'is-invalid': (f.severityCode.touched && f.severityCode.errors) || nameBackEndErrors}"><br>
                            <div *ngIf="f.severityCode.touched && f.severityCode.errors" class="invalid-feedback">  
                                <div *ngIf="f.severityCode.errors.required">
                                    <span class="error-msg">This field is required</span>
                                </div>
                            </div>
                            <div>
                                <span class="error-msg" *ngFor="let error of nameBackEndErrors">{{error}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="SeverityDesc">Severity Description: <span style="color: red">*</span></label><br />
                            <input type="text" class="form-control is-valid" id="severityDesc" formControlName="severityDesc" placeholder="SeverityDesc" [ngClass]="{'is-invalid': (f.severityDesc.touched && f.severityDesc.errors) || nameBackEndErrors}"><br>
                            <div *ngIf="f.severityDesc.touched && f.severityDesc.errors" class="invalid-feedback">  
                                <div *ngIf="f.severityDesc.errors.required">
                                    <span class="error-msg">This field is required</span>
                                </div>
                            </div>
                            <div>
                                <span class="error-msg" *ngFor="let error of nameBackEndErrors">{{error}}</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <button type="submit" [disabled]="!severityEditForm.valid || isSubmit" class="btn btn-primary" style="margin-top: 5px;">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>