<div class="modal-content">
        <div class="modal-header bg-primary">
                <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Service Level Agreement</h4>
        </div>
        <form (ngSubmit)="onFormSubmit()" method="post" [formGroup]="ticketSLAform">
                <div class="modal-body margin">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                        <label for="inputSmall">Emergency?</label>
                                <input type="checkbox" style="margin-left: 10px" class="custom-control-input" formControlName="isUrgentYes" >
                                <label class="custom-control-label"style="margin-left: 10px" for="customCheck1">Yes</label>
                                <input type="checkbox" style="margin-left: 10px" class="custom-control-input" formControlName="isUrgentNo" >
                                <label class="custom-control-label"style="margin-left: 10px" for="customCheck1">No</label>
                        </div></div><br>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                        <label>Request Category: <span style="color: red">*</span></label>
                        <input type="text" id="categoryid" formControlName="categoryid" hidden/>
                        <div>
                                <input type="text" class="form-control" formControlName="categorySelect" (keyup)="selectCategory($event)" (click)="$event.target.select()" list="categorysListss">
                                <datalist class="ui-datalist-data" height="100px" id="categorysListss" >
                                <option [ngValue]="null" disabled="true" [selected]="true">Select Category
                                <option id="{{category.categoryid}}" *ngFor="let category of requestCategory" [value]="category.categoryName">
                                </datalist>
                                <div *ngIf="f.categorySelect.touched && f.categorySelect.errors" class="invalid-feedback">
                                <div *ngIf="f.categorySelect.errors.required"><span style="color: red; font-size: 10pt">This field is required</span></div>
                                </div>
                        </div></div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Category List</label>
                            <input type="text" id="categoryListid" formControlName="categoryListid" hidden/>
                            <div>
                                    <input type="text" class="form-control" formControlName="categoryListSelect" (keyup)="selectCategoryList($event)" (click)="$event.target.select()" list="categoryListss">
                                    <datalist class="ui-datalist-data" height="100px" id="categoryListss" >
                                    <option [ngValue]="null" disabled="true" [selected]="true">Select Category List
                                    <option id="{{categoryList.categoryListid}}" *ngFor="let category of categoryList" [value]="category.categoryListName">
                                    </datalist>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                                <label>Severity: <span style="color: red">*</span></label>
                                <input class="form-control form-control-sm" type="text"  formControlName="severity" disabled/>
                        </div>
                        <div class="col-md-6">
                                <label class="col-form-label col-form-label-sm font" for="inputSmall">Responsible Group</label>
                                <input type="text" id="itGroupid" formControlName="itGroupid" hidden/>
                                <span *ngFor="let itGroup of itGroupList">
                                        <input class="form-control form-control-sm" type="text" formControlName="itGroupName" disabled [value]="itGroup.itGroupName">
                                </span>
                                
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                                <label class="col-form-label col-form-label-sm font" for="inputSmall">SLA Resolve Time</label>
                                <input class="form-control form-control-sm" type="text"  formControlName="slaResponseTime" disabled>
                        </div>
                        <div class="col-md-6">
                                <label class="col-form-label col-form-label-sm font" for="inputSmall">SLA Resolve Time</label>
                                <input class="form-control form-control-sm" type="text" formControlName="slaResolvedTime" disabled>
                        </div>
                    </div>  
                </div> 
                <div class="box-footer pull-right">
                    <button type="submit" class="btn btn-primary pull-right" style="margin-top: 5px;" [disabled]="!ticketSLAform.valid || isSubmit">Save</button>
                    <button type="button" (click)="close()" class="btn btn-default" style="margin-top: 5px;">Close</button>
                </div>
        </form>
</div>