<div class="main">
<div class="jumbotron">
        <h1 class="display-3">Hello, user!</h1>
        <p class="lead">This is a simple Ticketing System web application that deliver value to customers by achieving customer’s desired results while working within given constraints.​
                .</p>
        <hr class="my-4">
        <p>Our objective is to provide services to our End Users.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" [routerLink]="[ '/dashboard']" role="button">Let start</a>
        </p>
</div>

</div>