      
                <ul class="nav nav-tabs" style="margin-top: 20px">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" [routerLink]='["/ticket"]'>My Dashboard</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" [routerLink]='["/ticketAdd"]' href="#ticket">Encode Ticket</a>
                            </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show">
                            <app-ticket></app-ticket>
                        </div>
                        <div class="tab-pane fade" id="ticket">
                            <app-ticket-add-form></app-ticket-add-form>
                        </div>
                </div>

       

      

