<div class="main">
<app-employee-add-form></app-employee-add-form>
    <h1>List of Employee</h1>
    
    <table class="table table-hover table-dark" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped">
 
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email Address</td>
                <td>Office</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.emailAddress}}</td>
                <td>{{employee.office.officeCode}}</td>
           
                <div class="row">
                    <button class="col-md-10 btn btn-success m-1"(click)="update(employee)" data-toggle="tooltip" data-placement="bottom" title="Edit employee">
                         <i class="material-icons">update</i>
                    </button>
                    <button class="col-md-10 btn btn-danger m-1"(click)="delete(employee.employeeID)" data-toggle="tooltip" data-placement="bottom" title="Delete employee">
                         <i class="material-icons">delete </i>
                    </button>
                </div>
            </tr>
        </tbody>
    </table>
</div>

